extends base.pug 

block scripts 
block style 
    style 
        include ../static/style.css 
block content 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cum eius odit beatae ullam ipsam sint possimus officia doloribus, quia error non obcaecati! Consequatur, dolorum vero. Enim illum aspernatur accusantium!
